$top_header_color: #202656;
$primary: #A6317B;
$secondary: #3889B1;
$white: #fff;
$border_primary_color: #9AA5B5;
$box_primary_color: #F5F6F8;

$btn_primary_bg: $primary;
$btn_primary_color: #F5F6F8;
$btn_secondary_bg: #fff;
$btn_secondary_color: $secondary;

$input_label_color: #9AA5B5;
$input_color: #202656;
